/* You can add global styles to this file, and also import other style files */

@import '../../node_modules/angular2-toaster/toaster';

$brand-background: #444;
$brand-text-colour: #FFF;

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  margin: 2em;
  background-color: $brand-background;
  color: $brand-text-colour;
}

body, input[type="text"], button {
  color: #888;
  font-family: Cambria, Georgia;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-start;
  background: white;
  width: 100%;
}

.flex-item {
  flex-grow: 1;
  //width: 50px;
  //margin: auto;

  //background: lightgoldenrodyellow;
  //padding: 5px;
  //width: 200px;
  //height: 20px;
  height: 100%;
  //position: absolute;
  //margin-top: 10px;
  margin-bottom: auto;
}

.flex-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-list-item {
  //background-color: blue;
  height: 2em;
  //width: 60px;
}

label.list-content {
  font-size: 1.4em;
}

div.board {
  text-align: left;
  font-weight: bold;
  background: $brand-background;
  margin-bottom: 60px;
  width: 100%;
}

.english-input, .machine-input, .human-input {
  width: 100%;
}

div.button {
  padding: 5px;
  float: left;
}

div.line {
  padding-bottom: 8px;
}

#submit {
  margin-left: 8px;
}

.button-div {
  margin: 10px;
  padding: 10px;
}
